@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import 'scss/variables',
'scss/animation';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #0D1A29;
    background: #0c0c0c;
    color: black;
    text-align: center;
    font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 0;
}

.mobile-first {
    position: relative;
    background: #fcffff;
    background: #fff;
    width: 390px;
    height: 844px;
    border-radius: 30px;
    margin: auto;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    height: 100%;
}

.container {
    width: 100%;
}

.topbar {
    padding: 18px 0;

    .topbar-inner {
        margin: 0 auto;
        max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user-icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    .music-btn {
        display: flex;
        background: white;
        padding: 9px 12px;
        border-radius: 7px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.13);
    }
}

.music-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 24%;
    padding-top: 20px;
    background: white;
    // border: 2px solid #DCDCDC;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.212);
    border-radius: 0 0 50px 50px;
    transform: translateY(-110%);
    transition: transform 300ms;

    &.bar-pulled {
        animation: bounce-drop 400ms;
        transform: translateY(-10%);
    }

    .music-bar-inner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #track-title {
        margin-bottom: 15px;
        font-weight: 600;
    }

    #controls {
        margin-bottom: 20px;

        button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #008181;
            background: $primary-color;
            color: white;

            img {
                width: 25px;
                margin-top: 2px;
            }
        }
    }

    .volume-area {
        position: absolute;
        top: 35%;
        right: 0px;

        .volume-btn {
            top: 40px;
            position: relative;
        }
    }

    #volume-slider {
        transform: rotate(-90deg);
    }

    #volume-slider[type="range"] {
        -webkit-appearance: none;
        width: 80px;
        height: 5px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        background-image: linear-gradient($primary-color);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #volume-slider[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background: $primary-color;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
    }

    #volume-slider[type=range]::-webkit-slider-runnable-track {
        background: rgba(255, 255, 255, 0.6);
        -webkit-appearance: none;
        box-shadow: none;
        background: transparent;
    }

    .music-bar-close {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: white;
        border: 1px solid #DCDCDC;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.103);
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 22px;
        }
    }
}

.navigation-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;

    &::before {
        content: '';
        top: -8px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 9px;
        background: white;
        z-index: 9;
    }
}

.navigation-bar {
    background: #fcffff;
    background: #fff;
    border: 1px solid #DCDCDC;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    padding: 13px 0;
    border-radius: 25px 25px 0 0;
    z-index: 11;
    position: relative;


    ul {
        margin: 0 auto;
        max-width: 66%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    li {
        line-height: 0;
        margin: 0 20px;
        transition: margin 300ms;
    }

    a {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        span {
            display: none;
        }
    }

    svg {
        transition: all 200ms;
        pointer-events: none;

        &.navsvg1 {
            stroke: black;
        }

        &.navsvg2 {
            stroke: black;
        }

        &.navsvg3 {
            fill: black;
        }

        &.navsvg4 {
            fill: black;
        }
    }

    .nav-active {
        margin: 0 50px;

        svg {
            &.navsvg1 {
                stroke: white;
            }

            &.navsvg2 {
                stroke: white;
            }

            &.navsvg3 {
                fill: white;
            }

            &.navsvg4 {
                fill: white;
            }
        }

        span {
            color: white;
            margin-left: 7px;
            margin-top: 2px;
            font-weight: 600;
            display: block;
        }
    }

    .indicator {
        position: absolute;
        width: 145px;
        height: 45px;
        border-radius: 40px;
        background: $primary-color;
        left: 16%;
        transition: left 300ms;
    }

    ul li:nth-child(2).nav-active~.indicator {
        width: 130px;
        left: 33%;
        // transform: translateX(calc(63px * 1));
    }

    ul li:nth-child(3).nav-active~.indicator {
        width: 140px;
        left: 48%;
        // transform: translateX(calc(61px * 2));
    }
}


.single-page {
    width: 100%;
    height: 100%;

    &.hide {
        display: none;
    }

    &.page-opened {
        display: block;
    }
}

.page-title-area {
    margin: 60px 0;
    transition: height 300ms;
}

.page-title {
    font-size: 25px;
    margin-bottom: 5px;
}

.main {
    position: relative;
    width: 100%;
    height: 70%;
    background: #f9f9f9;
    background: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.11);
    border-radius: 40px;
    // overflow: auto;
    padding-top: 50px;
    transition: top 500ms, height 500ms;
    top: 0;

    .main-swipe{
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 9px;
        border-radius: 5px;
        background: $primary-color;
    }
    &.swiped-up{
        top: -22%;
        width: 100%;
        height: 98%;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        padding-bottom: 100px;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 7px;
            display: none;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: orange;
        }

        &::-webkit-scrollbar-thumb {
            background-color: blue;
            /* color of the scroll thumb */
            border-radius: 20px;
            /* roundness of the scroll thumb */
            border: 3px solid rgb(255, 0, 0);
            /* creates padding around scroll thumb */
        }
    }

}

.breather {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #00a5a5cb;
    // border: 5px solid #00b3b3;
    transition: background 500ms;

    .breathe-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        line-height: 30px;
    }
    .breathe-countdown-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        line-height: 30px;
        display: none;
    }

    .breather-heart {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1;
        background: #06d7d7;
        border-radius: 50%;
        width: 50%;
        opacity: 0;
        transition: opacity 0;
        opacity: 0;
        animation-name: none;
    }

    .breathe-out-range {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1;
        background: #fff;
        border-radius: 50%;
        width: 100%;
        opacity: 0;
        animation-name: none;
        transition: none;
    }

    &.equal-breathe {
        background: #0ac6c6;
        .breather-heart {
            animation: equal-breathing 8s infinite linear;
            animation-delay: 3s;
            transition-delay: 3s;
            opacity: 1;
            opacity: 1;
        }

        .breathe-out-range {
            transition-delay: 3s;
            width: 50%;
            opacity: 1;
            transition: width 3s linear, opacity 500ms;
        }

        .breathe-countdown-text{
            display: block;
        }
    }
}

.swipe{
    margin-bottom: 20px;
}